node_modules
.env
# Dependencias de Node.js
node_modules/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env
.env.local
.env.*.local

# Cachés
.cache/
dist/
build/

# Configuración de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de cobertura de pruebas
coverage/

# Archivos de nodemon
nodemon.json

# Otros temporales
*.tgz
*.swp
